

input.pd-node-input {
	outline: none;
	border: none;
	font-size: 1rem;
}

circle.pd-portlet {
	stroke: #000;
	z-index: 10;
	cursor: pointer;
}

circle.pd-portlet:hover {
	fill: #aaa;
}

text.pd-node-text {

}

rect.pd-preobject-rect {
	stroke-dasharray: 2 2 2;
	stroke: black;
}

rect.pd-node-rect {

}

rect.pd-node-rect.selected {
	fill: #aaa;
	stroke-width: 3;
}

path.pd-patchcord {
	cursor: pointer;
}