

input.pd-node-input {
	outline: none;
	border: none;
	font-size: 1rem;
}

text.pd-node-text {

}

rect.pd-node-rect {

}

rect.pd-node-rect.selected {
	fill: #aaa;
	stroke-width: 3;
}

path.pd-patchcord {
	cursor: pointer;
}